<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/cinema_icon3"
        android:label="MCMA"
        android:roundIcon="@mipmap/cinema_icon3_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MCMA"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu" >
        <activity
            android:name=".frontend.component.account.SignUpStepOneActivity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.account.SignUpStepTwoActivity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Showtimes.UI.PayingMethodActivity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Home.OnlyDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".frontend.component.Personal.Movie_Feedback_Activity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Feedback.View_Movie_Feedback_Activity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Personal.Delete_Booking_Activity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Personal.Revoke_Cancel_Booking_Activity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Personal.View_Movie_Feedback02_Activity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Personal.Cancel_Booking_Activity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Feedback.RatingMovie_Activity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Showtimes.UI.TicketSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Showtimes.UI.PaymentBookingActivity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Showtimes.UI.ComboSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Showtimes.UI.SeatSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Showtimes.UI.MovieBookingActivity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Showtimes.UI.MovieDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Personal.ViewFeedback_Activity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Personal.Booking_History_Activity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Personal.Change_Password_Account_Info_Activity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Personal.Account_Information_Activity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Personal.Edit_Update_Account_Info_Activity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Notification.Notification_Activity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.account.ResetPassword_Activity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.account.ForgotPassword_Activity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.account.SignUpStepThreeActivity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.Showtimes.UI.TheaterScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".frontend.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".frontend.component.Search.Search_Activity"
            android:exported="false" />
        <activity
            android:name=".frontend.component.More.LoadingPageActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>